/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


 */







/*
@media all and (max-deveice-width: 500px)
{
    nav
    {
        width: auto;
        text-align: left;
    }
    
}
*/
@font-face {
    font-family: "Constantia";
    src: url(Constantia.ttf) format("truetype");
}


html {
height:600%;
margin :0;
font-family: Constantia ;
}




body
{
margin:0;
height:100%;

}

h1 
{
color:#F6F7F1;
font-family: Constantia, serif;
font-size:2.2em;
font-weight:normal;
}



header {
position:relative;
z-index:1;
top:5px;
}

#menuhaut
{
	position:absolute;
	top:0%;
	display:inline-block;
	vertical-align:top;
	height:20%;
}


#logo
{
	float:right;
	margin-right:2%;
	margin-top:2%;
	display:inline-block;
	vertical-align:top;
	width:18%;
}

.lienrezo
{
	display:block;
	position: absolute;
	top:5em;
	left:0em;
}
.lienrezo img
{
	width: 3em;
	margin:1em;
	margin-top: 0em;
}
.lienrezo a
{
text-decoration: none;
}


#wrapper {
	background:url('../../images/fond_accueil.png') no-repeat ; 
	color: black;
    margin: 0 0 0 0;
    padding: 0% 0 0% 0;
	height: 100%;
    background-size: 100% 100%;
	width:100%;


}



#wordcloud
{
/*	background:url('images/fond.png')  no-repeat fixed; */
	color: #fff;
    margin: -10px 0 0 0;
    padding: 0% 0 0% 0;
	height: 28%	;
    background-size: cover;
	z-index:0;
}
#cloud
{
position:absolute;
top:10%;
left:10%;
width : 80% ;
height: 85% ;
z-index:0;
}

#cloud div
{
position:absolute;
top:0%;
left:0%;
width : 100% ;
height: 100% ;
}

#cloud_bkg{
background:url('../../images/accueil_wordcloud.png') no-repeat  ; 
background-size: 100% 100%;
}
.cloud_f{
display: none ;
}

#cloud_orange{
background:url('../../images/accueil_wordcloud_orange.png') no-repeat  ; 
background-size: 100% 100%;
}
#cloud_bleu{
background:url('../../images/accueil_wordcloud_bleu.png') no-repeat  ; 
background-size: 100% 100%;
}
#cloud_vert{
background:url('../../images/accueil_wordcloud_vert.png') no-repeat ; 
background-size: 100% 100%;
}

#navarea{
position:relative;
z-index:2;
}

#area_projet
{
position: absolute;
top: 56%;
left: 60%;
height: 21%;
width: 38%;
background-color: transparent;
z-index:2;
}
#area_reseau
{
position: absolute;
top: 22%;
left: 2%;
height: 22%;
width: 44%;
background-color: transparent;
z-index:2;
}
#area_eclore
{
position: absolute;
top: 11%;
left: 47%;
height: 78%;
width: 11%;
background-color: transparent;
z-index:2;
}


.banner{
	height: 70%;
	background-size: 100% 10%;
	z-index: 10 ;
	position:absolute;
	width: 100%;
	left:0%;
}
.word {
	height: 125%;
	z-index: 10 ;
	position:absolute;
	width: 10%;
	right:0%;
}

.textbanner{
	position:absolute;
	top:57%;
	margin-right:15%;
	margin-left:15%;
	z-index:40;
	width: 70%
}
.content{
    margin: 0 10%;
    background-size: cover;
	z-index: 0 ;
	height: 24.7%;
	width: 80%;
	background-color: rgba(255,255,255,0.5);
	border: 1px solid #ccc;
	overflow:hidden;
	position: relative;
	}
	

	
.fillbanner{
	height: 14%;
	z-index: 0 ;
	width: 100%;
}


#banner_projet
{
	background:url('../../images/barre_bleu.png') no-repeat fixed; 
	color: #fff;
	top : 129% ;
	background-position: 0px -10%;
	background-size: 100% 20%;

}
#word_projet
{
	top : 90%;
	background:url('../../images/mot_projet.png') no-repeat fixed;
	background-position: 99% 1%;
	background-size: 8% 40%;
	z-index: 20 ;
}

#projet
{
/*	background:url('images/fond_bleu.png') no-repeat fixed;*/
	color: #fff;
}
#banner_reseau
{
	background:url('../../images/barre_orange.png') no-repeat fixed;
	color: #fff;
	top : 277% ;
	background-position: 0 -10%;
	background-size: 100% 23%;
}
#word_reseau
{
	background:url('../../images/mot_reseau.png') no-repeat fixed;
	background-position: 90.5% 3%;
	background-size: 8% 40%;
	z-index: 20 ;
	top : 245%;
	width:17%;
}

#reseau
{
/*	background:url('images/fond_orange.png') no-repeat fixed; */
	color: #560905;
	position: relative;
	background-color: rgba(255,255,255,0);
	border: 0px solid #ccc;
   margin: 0 5%;
   width : 90%;
   height:23.6%;
}
#banner_eclore	
{
	background:url('../../images/barre_vert.png') no-repeat fixed; 
	top : 418% ;
	background-position: 0% -8%;
	background-size: 100% 20%;

}
#word_eclore
{
	background:url('../../images/mot_eclore.png') no-repeat fixed;
	background-position: 3% 7%;
	background-size: 8% 40%;
	z-index: 20 ;
	right:90%;
	top:400%;
}
#eclore
{
/*	background:url('images/fond_vert.png')  no-repeat fixed; */
height:20.5%;
}

