{% block subject %}
Réinitialisation de votre mot de passe
{% endblock %}

{% block body_html %}
Bonjour {{user.username}}!<br><br>
Pour réinitialiser votre mot de passe, merci de cliquer sur <a href='{{confirmationUrl}}'>ce lien</a>.
<br><br>
Cordialement,
<br><br>
L'équipe du Réseau Eclore
{% endblock %}
