{% extends "ecloreuserBundle::page_lambda.html.twig" %}

{% block title %}Le réseau Eclore{% endblock %}
{%set color='vert'%}
{%set first='Réseau Eclore'%}

{% block content %}
<div class="coldroite">
						<img src="{{ asset('bundles/ecloreuser/images/exovo_sueur.png') }}" style="width : 20% ; margin-right :5%; float:left; ">
						<h1>  Cette page est encore en construction </h1>
						<a class="underlined" onclick="event.preventDefault();history.back();" href="#">Retournez à la page précédente</a>									
				</div>
{% endblock %}