{% extends "ecloreuserBundle::page_lambda.html.twig" %}

{% block title %}Le réseau Eclore{% endblock %}
{%set color='vert'%}
{%set first='Mon Éclore'%}
{%set second='Espace personnel'%}

{% block content %}
<h1> Nos statuts </h1> 

<h2> Article 1 - Constitution et dénomination </h2>
Il est formé entre les adhérents aux présents statuts une association régie par la loi du 1er juillet 1901 et le décret du 16 août 1901, ayant pour titre « Réseau Éclore » (ci-après « l'association »).

<h2>Article 2 - Objet</h2>
L’association « Réseau Éclore » a pour objet de susciter et de faciliter l’investissement de jeunes dans les milieux associatifs et dans le développement de nouveaux projets. Pour cela, elle développe une connaissance des milieux associatifs et de leurs besoins, elle fait la promotion de l’engagement auprès de jeunes et les met en relation avec les associations et lanceurs de projet. Enfin, elle veille sur la nature de la collaboration réalisée, et accompagne les jeunes, y compris dans la valorisation de cette expérience. 

<h2>Article 3 - Siège social</h2>
Le siège social est fixé à Ivry-sur-Seine. Il pourra être transféré sur simple décision du Conseil d'Administration.

<h2>Article 4 - Durée de l'association</h2>
La durée de l'association est illimitée.

<h2>Article 5 - Composition </h2>
L'association se compose de : </br>
1° - membres fondateurs ;</br>
2° - membres d'honneur ;</br>
3° - membres actifs ;</br>
4° - membres associés.</br></br>

Tous participent à l’Assemblée générale.</br>

Les membres fondateurs sont les personnes qui ont participé à la création de l’association. Ils sont dispensés du versement d’une cotisation. Ils disposent d’une voix délibérative aux assemblées générales et sont éligibles à toutes les instances.</br>

Les membres d’honneur sont les personnes qui ont rendu des services signalés à l’association ou qui ont apporté une contribution financière ou matérielle importante à l’association. Ils sont dispensés du versement d’une cotisation. Ils disposent d’une voix consultative uniquement aux assemblées générales et ne sont pas éligibles.</br>

Les membres actifs sont les personnes impliquées dans la vie de l’association. Ils versent une cotisation annuelle fixée par le Conseil d’administration. Ils disposent d’une voix délibérative aux assemblées générales et sont éligibles à toutes les instances.</br>


Les membres associés sont les personnes physiques ou morales qui bénéficient des activités de l’association, sans s’impliquer de façon active dans sa gestion. Elles versent une cotisation annuelle fixée par le Conseil d’administration. Les personnes morales sont représentées par leur représentant légal ou toute autre personne dûment habilitée à cet effet. Elles disposent d’une voix consultative aux assemblées générales. Un certain nombre de sièges peut leur être réservé en conseil d’administration.

<h2>Article 6 - Admission</h2>
Pour être membre d'honneur ou membre actif, il faut être agréé par le Bureau qui statue lors de chacune de ses réunions sur les demandes d'adhésion présentées ainsi que sur la qualité de membre correspondante. En cas de refus, le Bureau n'a pas à motiver sa décision.
Pour être membre associé, il faut être impliqué dans des projets de l’association. Le règlement intérieur précise les conditions de l’admission.

<h2>Article 7 - Perte de la qualité de membre </h2>
La qualité de membre se perd par :</br>
1°- la démission ;</br>
2° - le décès ;</br>
3° - le non-versement de la cotisation annuelle pour les membres actifs et pour les membres associés le cas échéant ;</br>
4° - la fin de l’implication dans des projets de l’association pour les membres associés, dans des conditions précisées par le règlement intérieur ;</br>
5° - la radiation prononcée par le Conseil d'administration pour motif grave, l'intéressé ayant été préalablement invité à fournir des explications au Conseil d'administration. Le non-respect des valeurs de l'association peut constituer un motif grave.</br>
<h2>Article 8 - Ressources</h2>
Les ressources de l’association comprennent :</br>
-  des cotisations annuelles des membres actifs et associés, et éventuellement de cotisations exceptionnelles de tout membre.</br>
-  des subventions allouées par l’État, les collectivités locales, les établissements publics ou tout tiers autorisé ;</br>
-  des dons manuels des personnes physiques et morales ;</br>
-  des produits des activités commerciales et manifestations liées à l'objet ;</br>
- toute autre ressource autorisée par la loi.</br>
<h2>Article 9 - Assemblée générale ordinaire</h2>
L’assemblée générale ordinaire comprend tous les membres de l’association. L’assemblée générale ordinaire se réunit chaque année sur convocation du Conseil d'administration ou du quart des membres délibérants de l'association. Quinze jours au moins avant la date fixée, les membres de l’association sont convoqués par les soins du secrétaire, qui indique l'ordre du jour.
</br>
L'Assemblée entend les rapports sur la situation morale et financière de l'association et délibère. Elle ne délibère que sur les questions mises à l'ordre du jour et pourvoit s'il y a lieu au renouvellement des membres du Conseil d'administration.
L'Assemblée délibère valablement quel que soit le nombre de membres présents. Tout membre de l'association peut s'y faire représenter par un autre en renseignant le pouvoir joint à la convocation. Le vote par correspondance n'est pas admis. 
    Les décisions sont prises à main levée, à la majorité des suffrages exprimés par les membres présents ou représentés. Le scrutin secret peut être également demandé par au moins deux membres présents.

<h2>Article 10 - Assemblée générale extraordinaire</h2>
L'assemblée générale extraordinaire a seule compétence pour modifier les statuts, décider de la dissolution de l'association et de l'attribution des biens de l'association ou de sa fusion avec toute autre association poursuivant un but analogue.
Elle doit être convoquée à la demande du Président ou à la demande de la moitié des membres ayant le droit de vote, suivant les modalités prévues par l'article 9. L'assemblée générale extraordinaire ne délibère valablement que si la moitié des membres ayant le droit de vote sont présents ou représentés.

<h2>Article 11 - Le Conseil d'administration</h2>
L'association est administrée par un Conseil. Le Conseil d'administration met en œuvre les orientations décidées par l'Assemblée générale ; il décide de la tenue des assemblées générales et en adopte, sur proposition du bureau, l'ordre du jour ; il prend la décision d'ester en justice pour la sauvegarde des intérêts de l'association.
Le Conseil d'administration est composé :</br>
1° du bureau ;</br>
2° de représentants élus pour une durée de un an renouvelable en leur groupe respectivement par :</br>
   a) - les membres fondateurs et actifs ;</br>
   b) - les membres associés, pouvant être divisés en plusieurs sous-groupes, chaque sous-groupe élisant ses représentants ;</br>
Le nombre de représentants élus de chaque catégorie est fixé par l’assemblée générale sur proposition du Bureau ;</br>
3° de personnes nommées par le conseil d'administration, sur proposition du président, et dans la limite de trois personnes, pour une durée de un an renouvelable.</br>
</br>
Le nombre d'administrateurs ne peut excéder quinze personnes.
En cas de vacance de poste, le Conseil d'administration peut pourvoir provisoirement au remplacement de ses membres. Les pouvoirs des membres ainsi nommés prennent fin à l'époque où devait normalement expirer le mandat des membres remplacés.
</br>
Le Conseil d’administration se réunit autant de fois que l’intérêt de l’association l’exige et au moins à trois reprises dans l’année sur convocation du Président de l’association.
Les convocations sont adressées au plus tard dix jours avant la réunion. Elles mentionnent l’ordre du jour de la réunion arrêté par le Président de l’association en accord avec le secrétaire de l’association. En cas d’urgence, dûment justifiée par le Président, le délai de convocation peut être ramené à cinq jours.
Chaque administrateur dispose d’une voix délibérative. Tout administrateur absent ou empêché peut donner à un autre administrateur mandat de le représenter. Aucun membre ne peut être porteur de plus de un mandat, en sus du sien.
Le Conseil d’administration délibère valablement en présence de la moitié de ses membres présents ou représentés.
Les décisions sont prises à la majorité des suffrages exprimés des membres présents ou représentés. En cas de partage des voix, celle du président est prépondérante.
</br>
Si l’association a moins de deux ans d’existence ou si le nombre de ses membres ne dépasse pas 30, l’assemblée générale peut décider de ne pas élire de Conseil d’administration. Dans ce cas, le Bureau assume les responsabilités du Conseil d’administration. Cette décision doit être renouvelée à chaque nouvelle assemblée générale.
<h2>Article 12 - Le Bureau</h2>
Le Bureau assure le fonctionnement permanent de l'association et décide des actions de l'association à engager dans le cadre des orientations définies par le Conseil d'administration.
Le Bureau est élu en bloc par l'Assemblée générale pour une durée de un an renouvelable. 
Le Bureau est composé de, au minimum :</br>
1° - un Président ;</br>
2° - un Trésorier ;</br>
3° - un Secrétaire.</br>
Le nombre de membres du Bureau ne peut excéder dix personnes.
</br></br>
PRÉSIDENT
Le président du Bureau est chargé d'exécuter les décisions du Bureau et d’assurer le bon fonctionnement de l’association.
Il représente l’association dans tous les actes de la vie civile et est investi de tous les pouvoirs à cet effet. Il a notamment qualité pour agir en justice au nom de l'association.
Le Président convoque les assemblées générales et les réunions du Bureau.</br>
Il fait ouvrir et fonctionner au nom de l’association, auprès de toute banque ou tout établissement de crédit, tout compte.
Il peut déléguer à un autre membre ou à un permanent de l’association certains des pouvoirs ci-dessus énoncés.
</br></br>
TRÉSORIER
Le trésorier est chargé de la gestion de l’association.
Il perçoit les recettes, effectue les paiements, sous le contrôle du président.
Il tient une comptabilité régulière de toutes les opérations et rend compte à l’assemblée générale qui statue sur la gestion.
Comme le président, il fait ouvrir et fonctionner au nom de l’association, auprès de toute banque ou tout établissement de crédit, tout compte.
</br></br>
SECRÉTAIRE
Le secrétaire est chargé de tout ce qui concerne la correspondance et les archives.
Il rédige les procès-verbaux de réunions des assemblées et du Conseil d’administration et en assure la transcription sur les registres, notamment le registre spécial prévu par la loi et le registre des délibérations.
Il est en charge, en général, de toutes les écritures concernant le fonctionnement de l’association, à l’exception de celles qui concernent la comptabilité.
</br></br>
En cas de vacance, le Bureau pourvoit provisoirement au remplacement du ou des membres parmi les membres éligibles de l’association. Le remplacement définitif des membres ainsi cooptés intervient à la plus proche assemblée générale et leurs pouvoirs prennent fin durant cette même assemblée générale. 

Le Bureau se réunit au moins une fois tous les six mois et aussi souvent que l’intérêt de l’association l’exige, sur convocation du Président ou à la demande de au moins deux membres du Bureau.
Tout membre du Bureau qui, sans excuse, n’aura pas assisté à trois réunions consécutives, pourra être considéré comme démissionnaire.

La présence de la moitié des membres est nécessaire pour la validité des délibérations. Si ce quorum n’est pas atteint, le Bureau est à nouveau convoqué à quelques jours d’intervalle et peut alors délibérer quel que soit le nombre de membres présents ou représentés.
Les décisions sont prises à la majorité des voix ; en cas de partage, la voix du président est prépondérante. Le secrétaire décide des règles de vote au sein du Bureau.

<h2>Article 13 - Valeurs de l'association</h2>
Les valeurs de l'association sont :</br>
1°- l’entraide ;</br>
2°- le respect ;</br>
3°- la fraternité ;</br>
4°- le dialogue ;</br>
5°- la gratuité.</br>

<h2>Article 14 – Règlement Intérieur</h2>
Un règlement intérieur peut être établi par le bureau qui le fait alors soumettre à l’assemblée générale.

Ce règlement éventuel est destiné à fixer les divers points non prévus par les statuts notamment ceux relatifs à l’administration interne de l’association.

<h2>Article 15 – Dissolution</h2>
La dissolution de l'association est prononcée par l'Assemblée générale convoquée spécialement à cet effet.
En cas de dissolution, l’Assemblée générale extraordinaire désigne un ou plusieurs liquidateurs qui seront chargés de la liquidation des biens de l’Association et dont elle détermine les pouvoirs. L’actif net subsistant sera obligatoirement attribuée à une ou plusieurs associations poursuivant des buts similaires et qui seront nommément désignées par l’Assemblée générale extraordinaire, conformément à l'article 9 de la loi du 1er juillet 1901 et au décret du 16 août 1901.

{% endblock %}