{% extends "ecloreuserBundle::page_lambda.html.twig" %}

{% block title %}Espace membre{% endblock %}

{%set color='vert'%}
{%set first='Mon Éclore'%}
{%set second='Espace personnel'%}

{% block content %}
{%include "ecloreuserBundle::menu_user.html.twig"%}
<div class="coldroite">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
        </div>
<div class="clearboth"></div>
{% endblock %}