{% block subject %}
du nouveau à valider!
{% endblock %}

{% block body_html %}
salut !
<br>
il y a du nouveau à valider <a href="{{path('admin_page')}}">dans la partie admin !</a>
<br>
L'admin
{% endblock %}
